
server
    host: 127.0.0.3
    port: 8080 8081 8082 8083

    location /
        methods: POST GET DELETE
        root: /tmp/www/dir
        autoindex: on
        default_file: index.html
        cgi_extension: php py

    server_names: example.com example1.com example2.com
    redirect: old-path new-path 301
    server_root: /
    error_page 404 /errors/404.html
    error_page 405 /errors/405.html
    error_page 406 /errors/406.html
    error_page 407 /errors/407.html

    location /script
        methods: POST GET
        cgi_extension: php py bash

    location /uploads
        methods: POST DELETE
        root: /tmp/www/dir
        autoindex: off



server
    host: 127.0.0.1
    port: 8080 6061

    server_names: example.com example23.com
    error_page 408 /errors/404.html
    error_page 409 /errors/405.html
    client_body_size: 10M
    redirect: old-path new-path 301

    location /uploadsss
        methods: POST GET
        root: /tmp/www/dir
        autoindex: on

    location /dir
        methods: POST GET DELETE
        root: /tmp/www/dir
        autoindex: on
        default_file: index.html
        cgi_extension: php js


server
    host: 127.0.0.2
    port: 7070 6062

    server_names: example.com example23.com
    error_page 408 /errors/404.html
    error_page 409 /errors/405.html
    client_body_size: 210M
    redirect: old-path new-path 301

    location /uploads
        methods: POST
        root: /tmp/www/dir
        autoindex: off

    location /sources
        methods: POST GET DELETE
        root: /tmp/www/dir/hehehe
        autoindex: off
        default_file: index.html
